<% layout('layouts/boilerplate') %> 


<h1>Edit campground</h1>
<form action="/api/campgrounds/<%=camp._id %>?_method=PUT" method="post">
  <div>
    <label for="title"> Title </label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      value="<%= camp.title %> "
    />
  </div>
  <div>
    <label for="location"> Location </label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      value="<%= camp.location %> "
    />
  </div>
  <button>Edit Campground</button>
</form>
<a href="/api/campgrounds/<%= camp._id %>">Back to the campground</a>
