
<% layout('layouts/boilerplate') %> 


<h1>All Campgrounds</h1>
<a href="/api/campgrounds/new">Add a CampGround</a>
<ul>
  <% for(let campground of campgrounds){ %>
  <li>
    <a href="/api/campgrounds/<%=campground._id%>"><%= campground.title %></a>
  </li>
  <% } %>
</ul>
